<%- include("partials/header")%>

<style>
	body{
		background-color:#30475e;
	}
	form{
		background-color:white;
		box-sizing: border-box;
		box-shadow: 4px 4px 10px black;
		width:60%;
		padding:30px;
		margin: 20px auto;
		border: 2px solid black;
		
	}
	p{
		color:white;
	}
	h1{
		color:white;
	}
</style>

<h1 class="text-center text-uppercase"> enter your email</h1>
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<form action="/forgot" method="POST">
				<div class="form-group">
                <input placeholder="email" type="email" name="email" class="form-control">
				</div>
			
	<button type="submit" class="btn btn-success btn-md btn-block">Submit</button>
</form>
		</div>
	</div>
</div>

<%- include("partials/footer")%>
